html,
body,
#root,
.react-root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-card:hover {
  border: 2px black solid;
}
.app {
  align-content: center;
}

.canvas {
  border: solid 2px black;
  width: 500px;
  height: 750px;
  align-content: center;
}
.wrapper {
  display: grid;
  grid-template-rows: (3fr, 1fr);
}

/* .search-bar {
  justify-content: center;
} */
