html,
body,
#root,
.react-root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-card:hover {
  border: 2px black solid;
}
.App {
  align-content: center;
  width: 75%;
  height: 100%;
}

#canvas {
  border: solid 2px black;
  width: 500px;
  height: 750px;
  align-content: center;
}
.wrapper {
  padding: 5px;

  margin: 5px;
}

/* .search-bar {
  justify-content: center;
} */
.search-returns {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}

.search-wrapper {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.search-element {
  height: 100%;

  object-fit: contain;
}
.search-bar {
}
.buttons {
  width: 100%;
  padding: 10%;
}

.canvas-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.canvas {
  padding: 5%;
  height: 250px;
  width: 250px;
}
